

<section>
  {{#each}}
  <p class="container">
    The full name: {{full_name}} <br>
    The username: {{login}} <br>
    <img src={{avatar_url}} width="257" height="257" />
  </p>
  {{/each}}
</section>
