<section>
  <div class="container">
    <div class="row">
      {{#each avatar in model}}
      <div class="col-md-1">
        <p>
          <a href={{avatar.url}} >
            <img src={{avatar.avatarUrl}} width="70" height="70" />
          </a>
        </p>
      </div>
      {{/each}}
    </div>
  </div>
</section>
