<section>
  <div class="container">
    <div class="row">
  {{#each}}
      <div class="col-md-6">
        <p>
          The full name: {{fullName}} <br>
          The username: {{login}} <br>
          <img src={{avatarUrl}} width="257" height="257" />
        </p>
      </div>
  {{/each}}
    </div>
  </div>
</section>
